<div class="tabla">
<p-table [value]="cronogramas" [tableStyle]="{'min-width': '30rem'}"
         selectionMode="single" [(selection)]="seleccionarCronograma" dataKey="id" >
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>  
      <th>Periodo Lectivo</th>
      <th>Fecha Creación del Cronograma:</th>
      <th>Creador</th>
     
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr [pSelectableRow]="item">
      <td>{{item.id}}</td>
      <td>{{item.periodoLectivo}}</td>
      <td>{{item.fechaCreacion}}</td>
      <td>{{item.creador}}</td>
     
      
 
      <td>
        <button pButton type="button" class="p-button-warning" icon="pi pi-pencil"
                (click)="actualizarCronograma(item)"></button>
        <button pButton type="button" class="p-button-danger" icon="pi pi-trash"
                (click)="borrarCronograma(item.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
{{seleccionarCronograma | json}}
<button pButton type="button" class="p-button-success" label="Crear Cronograma" (click)="crearCronograma()"></button>
</div>